 {% extends "layout.html" %} {% block content %} {% if not data %} this url refers to no cert {% endif %}

<div class="ui text container">

    <table class="ui selectable celled table">
        <thead>
            <tr>
                <th>name</th>
                <th>property</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>field</td>
                <td>{{data.manifest.field}}</td>
            </tr>
            <tr>
                <td>author</td>
                <td>{{data.manifest.author}}</td>
            </tr>
            <tr>
                <td>work</td>
                <td>{{data.manifest.work}}</td>
            </tr>
            <tr>
                <td>identity</td>
                <td>{{data.manifest.identity}}</td>
            </tr>
            <tr>
                <td>pistis</td>
                <td>{{data.pistis.hash}}</td>
            </tr>
            <tr>
                <td>ethereum</td>
                {% if data.blockchain.ethereum %}
                <td>{{data.blockchain.ethereum.hash}}</td>
                {% else %}
                <td>0xa159b30e767a7149ef8aca9a56fb3321c55e7510a7f66e42ae44b80358e7df4f</td>
                {% endif %}
            </tr>
            <tr>
                <td>bitcoin</td>
                {% if data.blockchain.bitcoin %}
                <td>{{data.blockchain.bitcoin.hash}}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
