<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8"/>
        <title>Pistis</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='semantic-ui/semantic.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div style="height: 2vh">
        </div>
        {% block content %}
        {% endblock %}
        <div style="height: 2vh">
        </div>

        {% block footer %}
        {% endblock %}
    </body>
</html>
